<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/carrito.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="icon" type="image/png" href="/images/logo/jumpstore icono.jpg" sizes="32x32" />
    <title>Carrito</title>
</head>
<body>
    <header class="main-header">

        <div class="container">

            <div class="row">

                <div id="jumpstore-header">

                    <div id="jumpstore-header-flex">

                        <div id="jumpstore-menu-mobile">
                            <button onclick="openNav()" class="btn-menu" style="color: white;">
                                <i class="fas fa-bars"></i>
                            </button>
                        </div>

                        <div id="jumpstore-logo">
                            <a href="/">
                                <img src="/images/logo/jumpstore logo.png" alt="logo desktop" class="logo">
                            </a>
                        </div>

                        <div id="jumpstore-search">
                            <input class="fulltext-search-box" type="text">
                            <button  type="submit" class="btn-buscar">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                        <div id="jumpstore-right-menu"> 
                            <div id="jumpstore-user">
                                <button>
                                    <a href="/register"><i class="far fa-user"></i></a>
                                </button>
                            </div>

                            <div id="jumpstore-cart">
                                <button>
                                    <a href="/carrito"><i class="fas fa-shopping-cart"></i></a>
                                </button>
                            </div>
                        </div>
                        
                    </div>
                    <div id="jumpstore-search-mobile">
                        <input class="fulltext-search-box" type="text">
                        <button  type="submit" class="btn-buscar">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>

                </div>

            </div>

        </div>
    </header>
    <nav id="jumpstore-navbar">
        <div class="container">
            <div class="row">
                <ul>
                    <li><a href="/">Inicio</li></a>
                    <li><a href="/product/detail">Productos</li></a>
                    <li><a href="/">Ofertas</li></a>
                    <li><a href="/">Novedades</li></a>
                    <li><a href="/">Favoritos</li></a>
                </ul>
            </div>
        </div>
    </nav>
    <nav id="jumpstore-navbar-mobile" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

        <div class="overlay-content">
            <div id="jumpstore-logo-mobile">
                <img src="/images/logo/jumpstore logo.png" alt="logo desktop" class="logo">
            </div>

            <ul>
                <li><a href="/">Inicio</li></a>
                <li><a href="/product/detail">Productos</li></a>
                <li><a href="/">Ofertas</li></a>
                <li><a href="/register">Ingresar</li></a>
                <li><a href="/">Favoritos</li></a>
            </ul>
        </div>
    </nav>
    <main>
        <section>
            <div class="main-carrito">
                <div class="container">
                    <div class="carrito-header">
                        <div class="carrito-header-titulo-producto">
                            <h1 class="titulo-carrito-header">Mi Carrito</h1>
                            <span class="producto-carrito-header">1 Producto</span>
                        </div>
                        <div class="ayuda-contenedor">
                            <a class="seguir-comprando" href="/" title="Seguir Comprando">Seguir Comprando</a>
                            <p>¿Necesitás ayuda? 0810-888-3398</p>
                        </div>
                    </div>
                    <div class="contenedor-producto">
                        <div class="segundo-contenedor-producto">
                            <div class="basura-icon">
                                <i class="fas fa-trash-alt"></i>
                            </div>
                            <div class="imagen-producto-carrito">
                                <img class="imagen-producto" src="../images/zapatillas/jorda-jbalbin.jpeg">
                            </div>
                            <div class="nombre-item">
                                <p>Jordan 1 Retro High J Balvin</p>
                            </div>
                            <div class="contenedor-informacion-producto">
                                <div class="informacion-producto">
                                    <p class="talle">Talle 40</p>
                                    <a href="/" class="editar-producto">Editar Producto</a>
                                </div>
                            </div>
                            <div class="precio-cantidad-contenedor">
                                <div class="cantidad-selector">
                                    <p>Cantidad</p>
                                    <select name="select" class="selector-cantidad">
                                        <option value="value1">1</option>
                                        <option value="value2">2</option>
                                        <option value="value3">3</option>
                                        <option value="value4">4</option>
                                        <option value="value5">5</option>
                                        <option value="value6">6</option>
                                        <option value="value7">7</option>
                                        <option value="value8">8</option>
                                        <option value="value9">9</option>
                                        <option value="value10">10</option>
                                    </select>
                                </div>
                                <div class="cantidad-precio-item">
                                    <p class="total-precio">Total</p>
                                    <p class="precio-zapas">$4</p> 
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="contenedor-menu-derecha">
                        <div class="contenedor-codigo-promocional">
                            <p class="texto-codigo">¿Tenés un código de promoción?</p>
                            <div class="boton-input-codigo">
                                <div class="input-codigo">
                                    <input type="text" id="input-codigo2" name="Nombre" required minlength="4" maxlength="8" size="10" placeholder="Ingresá tu código">
                                </div>
                                <div class="boton-codigo">
                                    <button class="boton-codigo2" type="submit">Validar</button>
                                </div>
                            </div>
                        </div>
                        <div class="contenedor-costo-envio">
                            <p class="texto-envio">Calcuá el costo de envío</p>
                            <div class="boton-input-envio">
                                <div class="input-envio">
                                    <input type="text" id="input-envio2" name="Nombre" required minlength="4" maxlength="8" size="10" placeholder="Código Postal">
                                </div>
                                <div class="boton-envio">
                                    <button class="boton-envio2" type="submit">Calcular</button>
                                </div>
                            </div>
                        </div>
                        <div class="listado-resumen">
                            <div class="boton-comprar">
                                <button class="boton-comprar2">Comprar</button>
                            </div>
                        </div>
                    </div>
                    <div class="recomendados">
                        <div class="lista-productos-recomendados">
                            <div class="titulo-recomendados">
                                <h3 class="titulo-recomendados2">Recomendados para vos</h3>
                            </div>
                            <div class="contenedor-zapatillas-recomendadas">
                                <div class="zapatillas-recomendadas">
                                    <div class="zapatilla1">   
                                        <div class="imagen-zapatilla1">
                                            <img src="../images/zapatillas/vans-mas-vendidas.jpeg" class="vans">
                                            <!-- agregar boton favoritos -->
                                            <div>
                                                <p class="titulo-zapatilla">Vans Old Skook Black/Brown</p>
                                            </div>
                                            <div>
                                                <p class="precio-zapatilla">$4</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="zapatilla2">
                                        <img src="../images/zapatillas/adidas-mas-vendidas.jpg" class="adidas">
                                        <!-- agregar boton favoritos -->
                                        <div>
                                            <p class="titulo-zapatilla">Adidas Yeezy Cream White</p>
                                        </div>
                                        <div>
                                            <p class="precio-zapatilla">$4</p>
                                        </div>
                                    </div>
                                    <div class="zapatilla3">
                                        <img src="../images/zapatillas/nike-mas-vendido.jpg" class="nike">
                                        <!-- agregar boton favoritos -->
                                        <div>
                                            <p class="titulo-zapatilla">Nike AirMax 97 Metallic Gold</p>
                                        </div>
                                        <div>
                                            <p class="precio-zapatilla">$4</p>
                                        </div>
                                    </div>
                                    <div class="zapatilla4">
                                        <img src="../images/zapatillas/vans-old-skook-pink.jpeg" class="vans">
                                        <!-- agregar boton favoritos -->
                                        <div class="titulo-zapatilla4">
                                            <p>Vans Old Skook Pink</p>
                                        </div>
                                        <div>
                                            <p class="precio-zapatilla4">$4</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <footer id="jumpstore-footer">

        <div class="black-area">

            <div class="container">

                <div class="footer">
                    <div class="footer-col">
                        <div class="footer-title">Jumpstore</div>
                        
                        <ul class="panel">
                            <li><a href="/">Inicio</a></li>
                            <li><a href="/product/detail">Productos</li></a>
                            <li><a href="/">Ofertas</a></li>
                        </ul>
                        
                    </div>
                    <div class="footer-col">
                        <div class="footer-title">Información</div>
                        
                        <ul class="panel">
                            <li><a href="/">Términos y condiciones</a></li>
                            <li><a href="/">Quienes somos</a></li>
                            <li><a href="/">Formas de pago</a></li>
                        </ul>
                        
                    </div>
                    <div class="footer-col">
                        <div class="footer-title">Redes</div>
                        
                        <ul class="panel">
                            <li><a href="/">Instagram</a></li>
                            <li><a href="/">Twitter</a></li>
                            <li><a href="/">Facebook</a></li>
                        </ul>
                        
                    </div>
                </div>
            </div>
        </div>

        <div class="black-area-mobile">

            <div class="container">

                <div class="footer">
                    <div class="footer-col">
                        <div class="footer-title">Jumpstore</div>
                        <button class="jumpstore-arrow"><i class="fas fa-angle-down"></i></button>
                        <ul class="panel">
                            <li><a href="/">Inicio</a></li>
                            <li><a href="/product/detail">Productos</li></a>
                            <li><a href="/">Ofertas</a></li>
                        </ul>
                        <hr>
                    </div>
                    <div class="footer-col">
                        <div class="footer-title">Información</div>
                        <button class="jumpstore-arrow"><i class="fas fa-angle-down"></i></button>
                        <ul class="panel">
                            <li><a href="/">Términos y condiciones</a></li>
                            <li><a href="/">Quienes somos</a></li>
                            <li><a href="/">Formas de pago</a></li>
                        </ul>
                        <hr>
                    </div>
                    <div class="footer-col">
                        <div class="footer-title">Redes</div>
                        <button class="jumpstore-arrow"><i class="fas fa-angle-down"></i></button>
                        <ul class="panel">
                            <li><a href="/">Instagram</a></li>
                            <li><a href="/">Twitter</a></li>
                            <li><a href="/">Facebook</a></li>
                        </ul>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
        <div class="grey-area">
            <div class="container">
                <div id="footer-copyright">
                    <ul>
                        <li>Copyright © 2021 Jumpstore. All rights reserved.</li>
                        <li class="footer-separator">|</li>
                        <li><a href="/">Términos y Condiciones</a></li>
                        <li class="footer-separator">|</li>
                        <li><a href="/">Políticas de Privacidad</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
<script src="/js/script.js"></script>
</body>
</html>