h2 {
    font-size: 20px;
}

.breadcrumbs {
    padding: 20px 0;
    display: flex;
}
.breadcrumbs a{
    color: rgb(0, 0, 0);
}
.breadcrumbs p{
    margin: 0 10px;
}
.boxes-info {
    display: flex;
}
.card {
    margin-bottom: 1em;
}
.card a {
    color: rgb(0, 0, 0);
}
.card-header {
    display: flex;
    justify-content: space-between;
}
.pull-left, .pull-right {
    width: 50%;
}
.pull-right {
    text-align-last: right;
}
.card.payment-card a.add-new-card-btn, .card a.add-new-address-profile-btn {
    text-align: center;
    padding: 20px 0;
}
