/* main */ 
body {
    background-color: #f6f6f6;
}
#jumpstore-form {
    margin: 0 0 5% 0;
}
#jumpstore-.formulario {
    margin: 5% 0;
}
.img-form img {
    width: 100%;
}
.formulario {
    text-align: center;
}
.field {
    display: block;
    margin-bottom: 20px
}
.formulario .field input[type=text], .formulario .field input[type=date], .formulario .field input[type=password], .formulario .field button, .formulario .field input[type=email] {
    width: 70%;
    height: 45px;
    border: 1px solid #a2a2a2;
    padding-left: 10px;
    border-radius: 10px;
}
.formulario .field input:focus, .formulario .field button:focus {
    outline: 2px black;
}
.formulario .field input[type=date] {
    color: grey;
}
label.field {
    font-weight: bold;
    font-size: 20px;
}

.field button {
    border: none;
    background-color: black;
    color: white;
    transition: background-color 0.3s;
}
.field button:hover {
    background-color: #3f3f41;
}
.checkbox label, .checkbox input {
    margin-bottom: 30px;
}
.formulario .field button {
    text-transform: uppercase;
}
.formulario .field #terminos, .formulario .field label {
    cursor: pointer;
}


.txt-content {
    font-size: 15px;
    font-weight: 400;
    margin: 30px 0;
}

@media (max-width:768px) {
    .formulario {
        margin: 0 10%;
    }
    .formulario .field input[type=text], .formulario .field input[type=date], .formulario .field input[type=password],.formulario .field input[type=email], .formulario .field button {
        width: 100%;
        border: 1px solid black;
        
    }
    .formulario .field button {
        padding: 0;
    }

   
} 
@media (min-width:769px) {
    .txt-content {
        margin: 20px auto;
        padding: 10px 0;
        width: 60%;
    }
    .formulario {
        position: relative;
        text-align: center;
        width: 80%;
        margin: -5% auto 5% auto;
        background: white;
        padding: 10px 0;
    }
} 