/* cuerpo del  html */
* {
    box-sizing: border-box;
}
body {
    font-family: system-ui;
}

img {
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
    border: 0;
}
ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}
a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    text-decoration: none !important;
    color: white;
    transition: 0s all !important;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}



/* PRUEBAS */

/* cosas para usar */
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.centrado {
    text-align :center;
}
.sombreado {
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}


/* header */
.main-header {
    background-color: black;
    color: white;
    position: sticky;
    position: -webkit-sticky;
    transition: top 0.5s;
    z-index: 999;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}
#jumpstore-header-flex {
    display: flex;
    padding: 5% 0;
}
#jumpstore-menu-mobile button, #jumpstore-cart button, #jumpstore-user button  {
    background-color: black;
    border: none;
    font-size: 6vw;
}

#jumpstore-logo {
    display: flex;
    align-items: center;
}
#jumpstore-header-flex, #jumpstore-header-flex, #jumpstore-header-flex #jumpstore-search{
    width: 100%;
}
#jumpstore-search {
    display: flex;
    align-items: center;
}
#jumpstore-box, #jumpstore-box-mobile {
    display: flex;
    width: 100%;
}
#jumpstore-search .fulltext-search-box {
    width: 100%;
    height: 4vw;
    border-radius: 0px;
    color: #999999;
    font-size: 13px;
    letter-spacing: 0.01em;
    padding-left: 10px;
    background: white;
    border: black;
    outline: none;
}
#jumpstore-search  button.btn-buscar {
    position: relative;
    right: 0px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    border: none;
    border-radius: 0px;
    width: 45px;
    height: 4vw;
    outline: none;
}

#jumpstore-menu-mobile, #jumpstore-right-menu {
    width: 20%;
}

#jumpstore-search-mobile .fulltext-search-box {
    width: 100%;
    height: 9vw;
    border-radius: 0px;
    color: #999999;
    font-size: 3vw;
    letter-spacing: 0.01em;
    padding-left: 10px;
    background: white;
    border: black;
    outline: none;
}
#jumpstore-search-mobile  button.btn-buscar {
    font-size: 4vw;
    position: relative;
    right: 0px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    border: none;
    border-radius: 0px;
    width: 20%;
    height: 9vw;
    outline: none;
}
#jumpstore-header i:hover {
    color: white;
    transition: color 1s;
}
#jumpstore-header i:hover {
    color:turquoise
}



 /* nav */


#jumpstore-navbar {
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid black;
}
#jumpstore-navbar ul{
    justify-content: center;
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
#jumpstore-navbar a{
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    color: black;
    display: flex;
    text-transform: uppercase;
}
#jumpstore-navbar li {
    background-color: white;
    transition: background-color 1s;
    
}
#jumpstore-navbar li:hover {
    background-color: black;

}
#jumpstore-navbar a {
    transition: color 1s;
}
#jumpstore-navbar a:hover {
    color: white;
}

/* nav mobile */
.overlay-content {
    position: relative;
}
.overlay-content ul {
    padding-top: 10%;    
    list-style: none;
}

#opacity-mobile {
    position: fixed;
    z-index: 9999;
    padding-top: 0px;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    display: none;
}
/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 9999; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 5%; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}


/* The navigation menu links */
.sidenav .overlay-content ul a {
    padding: 10%;
    text-decoration: none;
    font-size: 22px;
    display: block;
    transition: 0.5s;
    text-transform: uppercase;
    font-weight: bold;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: -2%;
    right: 5%;
    font-size: 10vw;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}





/* footer */



.footer {
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
}
.black-area, .black-area-mobile{
    background-color: black;
}
.grey-area{
    background-color: #353232;
}
.footer-col {
    position: relative;
}
.footer-title {
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    font-size: 16px;
}
.footer-col ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

.panel li {
    font-size: 12px;
    letter-spacing: 0.05em;
    margin: 8px 0px 8px 0px;
    color: #bfbfbf;
}
.panel li a {
    font-size: 14px;
    letter-spacing: 0.05em;
    margin: 8px 0px 8px 0px;
    color: #bfbfbf;
}

#footer-copyright ul {
    padding: 10px 0;
    display: flex;
    font-size: 12px;
    letter-spacing: 0.01em;
    align-items: center;
    margin: 0px;

    list-style: none;
}
#footer-copyright ul, #footer-copyright ul a {
    color: #999999;
}
#footer-copyright ul li {
    margin: 5px 0px 5px 0px;
}

.footer-separator {
    margin: 0px 5px 0px 5px !important;
}
/* footer  mobile*/ 
.black-area-mobile .jumpstore-arrow {
    transition: 0.4s;
}
.black-area-mobile .panel {
    padding-left: 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
/* mediaqueries */

@media (max-width: 767px) {
    /* header */
    #jumpstore-header-flex {
        align-items: center;
    }
    #jumpstore-menu-mobile, #jumpstore-search-mobile, #jumpstore-right-menu {
        display: flex;
    }
    #jumpstore-search-mobile {
        width: 65%;
        margin: 0 0 0 10%;
    }
    #jumpstore-menu-mobile, #jumpstore-logo, #jumpstore-right-menu {
        justify-content: center !important;
        align-items: center;
    }
    #jumpstore-search, #jumpstore-nav {
        display: none !important;
    }
    #jumpstore-user button {
        display: none;
    }

    /* nav */
    #jumpstore-navbar {
        display: none;
    }
    


    /* footer */
   .footer {
        flex-direction: column;
        margin-bottom: 0px;
    }
    .footer-title {
        padding: 0 11px;
    }
    .footer .jumpstore-arrow {
        width: 100%;
        color: white;
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        background: transparent;
        border: none;
    }
    .footer .jumpstore-arrow i {
        display: flex;
        justify-content: flex-end;
    }
    .footer hr {
        display: block;
        border: 0;
        height: 1px;
        background: #313131;
    }
    #footer-copyright ul {
        padding: 0;
        flex-direction: column;
        align-items: center;
    }
    .footer-separator {
        display: none;
    }
}
@media (max-width: 768px) {
    .container {
        width: 100% ! important;
    }
    .black-area {
        display: none !important;
    }
    #jumpstore-logo {
        width: 70%;
    }


}

@media (min-width: 768px){
    .container {
        width: 750px;
    }
    a, button, input[type="submit"], input[type="button"], .btn, a:before, a:after {
        cursor: pointer;
        -webkit-transition: 0.3s all;
        transition: 0.3s all;
    }
    /* header */
    #jumpstore-header-flex #jumpstore-menu-mobile, #jumpstore-header-flex #jumpstore-logo, #jumpstore-header-flex #jumpstore-search, #jumpstore-header-flex #jumpstore-right.menu {
        width: 100%;
    }
    #jumpstore-header-flex {
        position: relative;
        padding: 3% 0;
    }

    #jumpstore-right-menu {
        display: flex;
        align-items: center;
        justify-content: flex-end;

    }
    
    #jumpstore-cart button, #jumpstore-user button{
        font-size: 30px;
    }
    #jumpstore-header-flex #jumpstore-logo {
        width: 1200px;
    }
    #jumpstore-search .fulltext-search-box, #jumpstore-search button.btn-buscar  {
        height: 30px;
        color: black;

    }
    #jumpstore-search, #jumpstore-right-menu, #jumpstore-logo {
        display: flex;
    }
    #jumpstore-search-mobile, #jumpstore-menu-mobile {
        display: none;
    }
    #jumpstore-search{
        margin: 0 5% 0 10%;
    }
    /* nav */
    #jumpstore-navbar a{
        padding: 10px 25px;
    }
    #jumpstore-navbar-mobile {
        display: none !important;
    }    
    #opacity-mobile {
        display: none !important;
    }
    /* footer */
    .footer .jumpstore-arrow, .footer hr  { 
        display: none;
    }
    .black-area-mobile {
        display: none !important;
    }
    
}

@media (min-width: 992px){
    .container {
        width: 970px;
    }
    /* header */
    
    #jumpstore-search{
        margin: 0 3% 0 21%;
    }
        /* nav */
    #jumpstore-navbar a{
        padding: 10px 45px;
    }
}
@media (min-width: 1200px){
    .container {
        width: 1170px;
    }
    /* header */
    .main-header .container {
        padding: 0 20px;
    }
    #jumpstore-search{
        margin: 0 5% 0 41%;
    }
         /* nav */
    #jumpstore-navbar a{
        padding: 20px 65px;
    }
}