<header class="main-header">

    <div  id="jumpstore-header">

        <div class="container">

            <div class="row">

                <div id="jumpstore-header-flex">

                    <div id="jumpstore-menu-mobile">
                        <button onclick="openNav()" class="btn-menu" style="color: white;">
                            <i class="fas fa-bars"></i>
                        </button>
                    </div>

                    <div id="jumpstore-logo">
                        <a href="/">
                            <img src="/images/logo/jumpstore logo.png" alt="logo desktop" class="logo">
                        </a>
                    </div>

                    <div id="jumpstore-search">
                        <form id="jumpstore-box">
                            <input class="fulltext-search-box" type="text" placeholder="Buscar">
                            <button  type="submit" class="btn-buscar">
                                <i class="fas fa-search"></i>
                            </button>
                        </form>
                    </div>
                    <div id="jumpstore-right-menu"> 
                        <div id="jumpstore-user">
                            <button>
                                <a href="/register"><i class="far fa-user"></i></a>
                            </button>
                        </div>

                        <div id="jumpstore-cart">
                            <button>
                                <a href="/carrito"><i class="fas fa-shopping-cart"></i></a>
                            </button>
                        </div>
                    </div>
                    
                </div>


            </div>

        </div>

    </div>

    <nav id="jumpstore-navbar">
    <div class="container">
        <div class="row">
            <ul>
                <li><a href="/">Inicio</li></a>
                <li><a href="/products">Productos</li></a>
                <li><a href="/">Ofertas</li></a>
                <li><a href="/">Novedades</li></a>
                <li><a href="/">Favoritos</li></a>
            </ul>
        </div>
    </div>
    </nav>

</header>