<div id="opacity-mobile"></div>
<nav id="jumpstore-navbar-mobile" class="sidenav">
    
    <div class="overlay-content">
        <div class="search-close">
            <div id="jumpstore-search-mobile">
                <form id="jumpstore-box-mobile">
                    <input class="fulltext-search-box" type="text" placeholder="Buscar">
                    <button  type="submit" class="btn-buscar">
                        <i class="fas fa-search"></i>
                    </button>
                </form>
            </div>
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        </div>


        <ul>
            <li><a href="/">Inicio</li></a>
            <li><a href="/products">Productos</li></a>
            <li><a href="/">Ofertas</li></a>
            <li><a href="/register">Ingresar</li></a>
            <li><a href="/">Favoritos</li></a>
        </ul>
    </div>
</nav>