<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Añadir nuevo producto</title>
        <%- include("./partials/head") %>
        <link rel="stylesheet" href="/css/productCreate.css">
    </head>
<body>
    <%- include("./partials/header") %>
    <%- include("./partials/menuMobile") %>
    <main>
    <form class="formulario-register" method="GET" action="/administratorToolsProducts">
    <h1 class="titulo">Añadir producto</h1>
    <div>
        <input class="formulario-input" type="text" name="nombre" class="crear-producto" placeholder="Nombre del producto">
    </div>
    <div>
        <input class="formulario-input" type="text" name="nombre-de-usuario " class="crear-producto" placeholder="Descripcion del producto">
    </div>
    <div>
        <input class="formulario-input" type="number" name="precio" class="crear-producto" placeholder="Precio">
    </div>
    <div class="marcas">
        <select id="select-marcas">
            <option value="seleccionar marca">seleccionar marca</option>
            <option value="Nike">Nike</option>
            <option value="Addidas">Addidas</option>
            <option value="Jordan">Jordan</option>
            <option value="Fila">Fila</option>
            <option value="Vans">Vans</option>
        </select>
    </div>
    <div class="file-upload">
        <input class="file-upload__input" type="file" name="myFile[]" id="myFile" multiple>
        <button class="file-upload__button" type="button">Imagen del producto</button>
        <span class="file-upload__label"></span>
      </div>
    <section class="wrapper">
        <button type="submit" class="add_edit_product"><a href="/administratorToolsProducts" class="link-boton">Enviar</a></button>
        <button type="reset" class="add_edit_product">Borrar</button>
        </section>
    </form>
    </main>
    <%- include("./partials/scripts") %>
    <script src="/js/edit-CreateProduct.js"></script>
</body>
</html>