<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Editar producto</title>
        <%- include("./partials/head") %>
        <link rel='stylesheet' href='/css/productEdit.css'>
    </head>
<body>
    <%- include("./partials/header") %>
    <%- include("./partials/menuMobile") %>

    <main class="container_main">
        <form class="formulario-edit" method="GET" action="/administratorToolsProducts">
            <h1 class="titulo">Editar producto</h1>
            <div>
                <input class="formulario-input" type="text" name="nombre" class="cambiar-producto" placeholder="Nuevo nombre del producto">
            </div>
            <div>
                <input class="formulario-input" type="text" name="descripcion" class="crear-producto" placeholder="Descripcion del producto">
            </div>
            <div>
                <input class="formulario-input" type="number" name="precio" class="cambiar-producto" placeholder="Nuevo precio del producto">
            </div>
            <div class="marcas">
                <select id="select-marcas">
                    <option value="seleccionar marca">seleccionar marca</option>
                    <option value="Nike">Nike</option>
                    <option value="Addidas">Addidas</option>
                    <option value="Jordan">Jordan</option>
                    <option value="Fila">Fila</option>
                    <option value="Vans">Vans</option>
                </select>
            </div>
            <div class="file-upload">
                <input class="file-upload__input" type="file" name="myFile[]" id="myFile" multiple>
                <button class="file-upload__button" type="button">Elige un archivo</button>
                <span class="file-upload__label"></span>
              </div>
            <section class="wrapper">
                <button type="submit" class="add_edit_product"><a href="/administratorToolsProducts" class="link-boton">Guardar</a></button>
                <button type="reset" class="add_edit_product">Borrar</button>
                </section>
            </form>
    </main>
    <%- include("./partials/scripts") %>
    <script src="/js/edit-CreateProduct.js"></script>
</body>
</html>